body{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 880px;
    height: 580px;
}
.box1{
    
    
    width: 880px;
    height: 580px;
    
    background-image: url('Main2.png');
    background-repeat: no-repeat;
    
    background-position: center;
    background-size: contain;   
}

p{
    margin-left: 20px;
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 60px;
}

h2{
    font-size: 30px;
    margin-top: 20px;
    color: #FFFFFF;
    padding-top: 18px;
}

h1{
    margin-top: 0px;
    color: #F5F5F5;
    font-size: 50px;
}

button{
    background-color: #F5F5F5;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border-color: #F5F5F5;
    margin-top: 20px;
}

span{
    color: #000000;
    font-size: 18px; 
}

.sc{
    color: #F5F5F5;
    margin-top: 60px;
    font-size: 70px;
   
}